/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
body {
  background-color: #F0D290;
}
button.navigate {
    float: left;
    height: 10vh;
    width:33.333vw;
    background-color: #781D42;
    border: 2px solid #F1FAEE;
    color: #F1FAEE;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 25px;
    cursor: pointer;
}

button.navigate:disabled {
  background-color: #F1FAEE;
  color: #781D42;
  border: 2px solid #781D42;
  cursor: auto;
}

h1.headers {
  color: #A3423C;
  text-align: left;
  margin-left: 30px;
}

p1 {
  float: left;
  color: #DE834D;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px;
  line-height: 1.6;
}

#title {
  text-align: center;
  color: #A3423C;

}

input {
  width: 50vw;
  position: relative;
  margin-left: 30px;
  height: 6vh;
  color:#781D42;
  border-radius: 5px;
  padding-left: 12px;
  font-size: 30px;
}

input:focus {
  border: 3px solid #781D42;
}

#submit {
  margin-left: 30px;
  width: 15vw;
  height: 6vh;
  background-color: #781D42;
  border: 2px solid #F1FAEE;
  color: #F1FAEE;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
  cursor: pointer;
  border-radius: 10px;
}

#submit:hover {
  background-color: #F1FAEE;
  color: #781D42;
  border: 2px solid #781D42;

}
